<div class="content-container" id="Cstep1" role="main" tabindex="-1">
    <form id="step1">
        <div class='row'>
            <div class='large-12 medium-12 small-12 column'>
            
            <h1>Sign In</h1>

            </div>
        </div>
        <div class='box'>
            <div class='row'>
                <div class='medium-12 columns'>
                    <div class='large-12 medium-12 small-12 column'>
                        <p class="align-right margin-bottom-none">
                            <span class="required">*</span>
                            Required fields
                        </p>
                    </div>




                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="username">Username&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input aria-invalid="false" aria-required="true" autocomplete="off" class="stretch"
                                id="username"
                                name="VerifyUserRequestHandler.Model.Username" type="text" value="" />

                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>


                    <!--PASSWORD-->
                    <div class="row&#32;form-row">
                        <div class="large-3&#32;medium-5&#32;small-12&#32;column&#32;"><label class="form-control"
                                for="VerifyUserRequestHandler_Model_Username">Password&nbsp;<span
                                    class="required">*&nbsp;</span></label>

                        </div>


                        <div class="large-4&#32;medium-4&#32;small-12&#32;columns&#32;left">

                            <input required class="stretch" id="password"
                                name="VerifyUserRequestHandler.Model.Username" type="password" value="" />


                            <span class="field-validation-valid&#32;error&#32;text"
                                data-valmsg-for="VerifyUserRequestHandler.Model.Username" data-valmsg-replace="true"
                                id="password_Validation"></span>
                            <div>
                                <div class="data-rows"><input id="VerifyUserRequestHandler_Model_RememberMe"
                                        name="VerifyUserRequestHandler.Model.RememberMe" type="checkbox" value="true" />
                                    <input name="VerifyUserRequestHandler.Model.RememberMe" type="hidden"
                                        value="false" /><label class="check-box-label-with-tootip&#32;normal"
                                        for="VerifyUserRequestHandler_Model_RememberMe">Remember Username</label>
                                    <button aria-describedby="VerifyUserRequestHandler_Model_RememberMe"
                                        aria-label="Your&#32;username&#32;will&#32;be&#32;remembered&#32;on&#32;this&#32;device."
                                        class="has-tip&#32;tip-top&#32;radius" data-tooltip="" tabindex="0"
                                        title="Your&#32;username&#32;will&#32;be&#32;remembered&#32;on&#32;this&#32;device."
                                        type="button"><i class="fa&#32;fa-question-circle"><span aria-hidden="true"
                                                class="a11y-hide-visually" role="tooltip">Your username will be
                                                remembered on this device.</span></i></button>
                                </div><small></small><small><a href="javascript:void(0)">Need Username?</a><span
                                        aria-hidden='true'> | </span><a href="javascript:void(0)">Forgot
                                        Username?</a></small>
                            </div>
                        </div>
                        <div class="large-5&#32;medium-3&#32;small-12&#32;columns&#32;left"></div>
                    </div>

                    <div class='small-12 columns button-group'>
                        <input class="button&#32;small&#32;navigationButton&#32;primary"
                            id="verifyverifyyouridentitySubmit" name="Submit" type="submit" value="Continue" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>