<%-include("../../partials/header")%>


<div class="faq">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="accordion" id="accordionExample">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">

                            <div class="card">
                                
                                <div id="collapseOne52" class="collapse show" data-parent="#accordionExample" style="">
                                    <div class="card-body p-5">
                                        <%-page.page_description%>
                                        <br>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include("../../partials/footer")%>