<%-include("../partials/header");%>

    <div class="breadcumb-area">
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Our Services
                            </h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s"
                                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class=" section-padding-100-70 d-sec">
        <div class="container">
    
            <div class="section-heading text-center">
    
                <div class="mb-15 justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span class="gradient-text blue">OUR SERVICES</span>
                </div>
                <h2 class="wow fadeInUp w-text" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Our Core Services</h2>
                <p class="wow fadeInUp g-text" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">All our services are
                    reliable anytime anywhere 2/4/7.
                </p>
            </div>
    
    
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s1.png" alt="">
                        </div>
                        <h6 class="bold">Secure Payment Service</h6>
                        <p>Our data encryption to help ensure that your information can only be decoded and read by our
                            secure online and mobile
                            environment.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s2.png" alt="">
                        </div>
                        <h6 class="bold">Tax Consulting</h6>
                        <p>We Have professionals extensive experience and are proactive in determining appropriate tax
                            strategies for our
                            clients.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s3.png" alt="">
                        </div>
                        <h6 class="bold">Low Cost and Fast transfer</h6>
                        <p>Our Money Transfer service allows customers to transfer funds to all any beneficiary in another
                            country in a secure,
                            reliable and efficient manner.</p>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s4.png" alt="">
                        </div>
                        <h6 class="bold">Mobile Banking &amp; Payment</h6>
                        <p>Our Internet Banking is best viewed with Internet Explorer Version 11.0, Chrome 38, Firefox 33
                            and Safari 5 with a
                            resolution of 1024 x 768 and higher.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s5.png" alt="">
                        </div>
                        <h6 class="bold">Pay Bills</h6>
                        <p>Quick Pay is the easiest and the smartest way to pay your utility bills such as Electricity, Gas,
                            Insurance, Telecom, Products and Services
                            etc.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="https://masref.netlify.app/img/icons/s6.png" alt="">
                        </div>
                        <h6 class="bold">Online Marketplace</h6>
                        <p>We are the one-stop shop solution for all your payments needs - we have over 200 plus billers for
                            you to choose from and
                            make payments.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    

    <%-include("../partials/footer");%>